version: '3.8'


services:

  app:
    container_name: app
    build:
      context: .
    ports:
      - '5000:5000'
    expose:
      - '5000'
    links:
      - db
    depends_on: 
      - db
    tmpfs:
      - /tmp


  db:
    container_name: db
    image: mysql:5.7
    restart: always
    environment: 
      MYSQL_DATABASE: 'db'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - db-data:/var/lib/mysql
  
volumes:
  db-data: